[Unit]
Description=Gunicorn instance to serve Production Readiness Assessment Platform (PRAP)
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/prap
Environment="PATH=/home/ubuntu/prap/venv/bin"
Environment="PRAP_DB_PATH=/home/ubuntu/prap/database.db"
ExecStart=/home/ubuntu/prap/venv/bin/gunicorn --workers 3 --bind unix:prap.sock -m 007 app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
